@page
@model Fisioterapia.Web.Pages.Pacientes.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteViewModel.Documento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacienteViewModel.Documento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteViewModel.NomeCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacienteViewModel.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteViewModel.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacienteViewModel.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteViewModel.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacienteViewModel.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteViewModel.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacienteViewModel.Celular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteViewModel.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacienteViewModel.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteViewModel.Profissao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacienteViewModel.Profissao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PacienteViewModel.Id">Alterar</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
