@page
@model Fisioterapia.Web.Pages.Tratamentos.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Tratamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TratamentoViewModel.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TratamentoViewModel.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TratamentoViewModel.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TratamentoViewModel.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TratamentoViewModel.DataAlteracao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TratamentoViewModel.DataAlteracao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TratamentoViewModel.Id">Alterar</a> |
    <a asp-page="./Index">Voltar para lista</a>
</div>
