@page
@model Fisioterapia.Web.Pages.Condutas.IndexModel

@{
    ViewData["Title"] = "Lista de Condutas";
}

<h1>Lista de Condutas - @ViewData["NomePaciente"]</h1>

<p>
    <a asp-page="/Pacientes/Index">Voltar para a lista de pacientes</a>
</p>
<p>
    <a asp-page="Create" asp-route-pacienteid="@Model.PacienteId" class="btn btn-primary">Nova conduta</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CondutasViewModels[0].DataConduta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CondutasViewModels[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CondutasViewModels[0].CondutaTratamentos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CondutasViewModels)
        {
            <tr>
                <td>
                    @item.DataConduta.Value.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @for (int i = 0; i < item.CondutaTratamentos.Count(); i++)
                    {
                        if (i == 0)
                        {
                            @Html.Raw(item.CondutaTratamentos.ToArray()[i].Tratamento.Nome)
                        }
                        else if (i > 2)
                        {
                            @Html.Raw("; ...")
                            break;
                        }
                        else
                        {
                            @Html.Raw("; " + item.CondutaTratamentos.ToArray()[i].Tratamento.Nome)
                        }
                }
                </td>
                <td class="text-right">
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" title="Remover">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
