@page
@model Fisioterapia.Web.Pages.Anamneses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].QP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].Investigacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].HPM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].PressaoAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].MedicamentoParaPressao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].PraticaAtividadeFisica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].NomeAtividadeFisica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].ExameFisioPostural)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].ConsumeSubstancias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].AlgiaPalpacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].TonusMuscular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].HipotrofiaMuscular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].ContraturaMuscular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].ContraturaMuscularObservacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].RetracaoMuscular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].RetracaoMuscularObservacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].DataAlteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnese[0].DataDelecao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Anamnese) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Investigacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HPM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PressaoAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicamentoParaPressao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PraticaAtividadeFisica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAtividadeFisica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExameFisioPostural)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumeSubstancias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlgiaPalpacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TonusMuscular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HipotrofiaMuscular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContraturaMuscular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContraturaMuscularObservacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetracaoMuscular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetracaoMuscularObservacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDelecao)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
